div.counter-wrapper {
    border: 2px solid #036;
    border-radius: 8px;
    display: inline-block;
    padding: 8px;
}
button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 200%;
    margin: 8px;
    width: 32px;
    overflow: hidden;
    border: 0;
    background-color: #036;
    border-radius: 8px;
    color: #fff;
}
div.counter-wrapper span {
    font-family: Consolas;
    font-weight: bold;
    color: #036;
    font-size: 200%;
}